
@{
    ViewBag.Title = "Employee Index";
}

@section Header {
    <header>
        <small>For Internal Use Only</small>
    </header>
}

<h2>Employee Index</h2>
<img src="~/Content/eagle.png" width="50px;" />
@section Scripts{
    <script>
        $("h2").css({ "background-color": "deepskyblue", "color": "white", "padding": "10px"});
    </script>
}
